.fit {
  width: 100% !important;
  height: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.window-height {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100vh !important;
}

.window-width {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100vw !important;
}

.block {
  display: block !important
}

.inline-block {
  display: inline-block !important
}

@each $space, $value in $spaces {
  .pa-#{$space} {
    padding: map-get($value, "y") map-get($value, "x") !important
  }

  .pl-#{$space} {
    padding-left: map-get($value, "x") !important
  }

  .pr-#{$space} {
    padding-right: map-get($value, "x") !important
  }

  .pt-#{$space} {
    padding-top: map-get($value, "y") !important
  }

  .pb-#{$space} {
    padding-bottom: map-get($value, "y") !important
  }

  .px-#{$space} {
    padding-left: map-get($value, "x") !important;
    padding-right: map-get($value, "x") !important;
  }

  .py-#{$space} {
    padding-top: map-get($value, "y") !important;
    padding-bottom: map-get($value, "y") !important;
  }


  .ma-#{$space} {
    margin: map-get($value, "y") map-get($value, "x") !important
  }

  .ml-#{$space} {
    margin-left: map-get($value, "x") !important
  }

  .mr-#{$space} {
    margin-right: map-get($value, "x") !important
  }

  .mt-#{$space} {
    margin-top: map-get($value, "y") !important
  }

  .mb-#{$space} {
    margin-bottom: map-get($value, "y") !important;
  }

  .mx-#{$space} {
    margin-left: map-get($value, "x") !important;
    margin-right: map-get($value, "x") !important;
  }

  .my-#{$space} {
    margin-top: map-get($value, "y") !important;
    margin-bottom: map-get($value, "y") !important;
  }

}


.mt-auto, .my-auto {
  margin-top: auto !important
}

.ml-auto, .mx-auto {
  margin-left: auto !important
}

.mb-auto, .my-auto {
  margin-bottom: auto !important
}

.mr-auto, .mx-auto {
  margin-right: auto !important
}
