
p {
  margin: 0 0 map-get(map-get($spaces, "md"), "y")
}
  

.text- {    
  @each $heading, $value in $headings {
    &#{$heading} {
      font-size: map-get($value, "size");
      font-weight: map-get($value, "weight");
      line-height: map-get($value, "line-height");
      letter-spacing: map-get($value, "letter-spacing");
    }
  }

  &uppercase {
    text-transform: uppercase
  }

  &lowercase {
    text-transform: lowercase
  }

  &capitalize {
    text-transform: capitalize
  }

  &center {
    text-align: center
  }

  &left {
    text-align: left
  }

  &right {
    text-align: right
  }

  &justify {
    text-align: justify;
    hyphens: auto;
  }


  &italic {
    font-style: italic
  }

  &bold {
    font-weight: bold
  }


  &no-wrap {
    white-space: nowrap
  }


  &strike {
    text-decoration: line-through
  }

  &underline {
    text-decoration: underline;
  }
}

