@import "./variables.scss";
@import "./color-variables.scss";

@import "./core/color.scss";
@import "./core/elevation.scss";
@import "./core/flex";
@import "./core/mouse.scss";
@import "./core/orientation.scss";
@import "./core/positions.scss";
@import "./core/size.scss";
@import "./core/typography.scss";
@import "./core/utility.scss";
@import "./core/visibility.scss";

@import "./addon/normalize.scss";

body {
  min-width: 100px;
  min-height: 100%;
  font-family: $typography-font-family;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  line-height: $body-line-height;
  font-size: $body-font-size;
}

.a-link {
  font: normal 400 0.875rem/1.375rem;
  color: $primary;
  &:link {
    color: $primary;
  }
  &:visited {
    color: $primary;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.8;
  }
}
